<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.matthewnelson.topl_android_service">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <service android:name="io.matthewnelson.topl_android_service.TorService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="true"/>
        <!-- TODO: Don't want to stopWithTask b/c we need to allow Tor to close properly beforehand -->
    </application>
</manifest>